.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    margin-top: 80px;
    background: #fff;
    padding-bottom: 30px;
    height: fit-content;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 9px;
    margin-top: 20px;
}

.text {
    font-size: 48px;
    font-weight: 700;
    color: #3c009d;
}

.underline {
    color: #3c009d;
    width: 61px;
    height: 6px;
    border-radius: 9px;
}

.inputs {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    border-radius: 6px;
    background-color: #eaeaea;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: #797979;
}

.forgetPass {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgetPass span {
    color: #3c009d;
    cursor: pointer;
}

.submitContainer {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #3c009d;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}